/* FONT IMPORTS */

@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100..900&display=swap');

/* VARIABLES */

:root {
    --clr-main: hsl(233 26% 24%);
    --clr-accent-1: hsl(136 64% 51%);
    --clr-accent-2: hsl(192 69% 51%);

    --clr-neutral-100: hsl(233 8% 62%);
    --clr-neutral-800: hsl(0 0% 98%);
    --clr-neutral-900: hsl(0 100% 100%);

    --fw-thin: 300;
    --fw-regular: 400;
    --fw-bold: 700;
}

/* RESETS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font: inherit;
    font-size: 1.07rem;
    font-weight: var(--fw-regular);
    color: var(--clr-neutral-100);
}

body {
    line-height: 1.55;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    font-family: "Public Sans", sans-serif;
    background-color: var(--clr-neutral-900);
}

img, picture, svg {
    display: block;
    max-width: 100%;
}

p, h1, h2, h3, h4 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1, h2, h3, h4 {
    text-wrap: balance;

    color: var(--clr-main);
}

h1 {
    font-size: 3.25rem;
    line-height: 1.2;
}

h2 {
    font-size: 2.25rem;
}

h3 {
    font-size: 1.5rem;
}

main {
    padding-bottom: 5rem;
}

@media (prefers-reduced-motion: reduce) {
    *, *::before, *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
    }
}

/* COMPONENTS */

.flow {
    display: grid;
    justify-items: start;
    gap: var(--flow-space, 1.25rem);
}

.btn {
    padding: 0.6rem 1.75rem;
    font-size: 0.8rem;
    text-decoration: none;
    color: var(--clr-neutral-800);
    border-radius: 100vw;
    background: linear-gradient(15deg, var(--clr-accent-2), var(--clr-accent-1));
    transition: opacity 0.3s ease;

    &:hover {
        opacity: 0.7;
    }
}

.card-layout {
    width: 100%;
    display: grid;
    column-gap: 3rem;
    row-gap: 2rem;
}

/* HEADER */

.header {
    position: sticky;
    top: -6rem;
    left: 0;
    z-index: 100;
    padding-inline: 1.5rem;
    margin-inline: auto;
    height: 4.5rem;
    max-width: 81.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: stickyNav linear forwards;
    animation-timeline: view();
    animation-range-start: 120vh;
    animation-range-end: 150vh;

    .header-logo {
        flex-shrink: 0;
    }

    .btn {
        display: var(--_display-none, block);
    }
}

.header .header-nav .nav-list {
    list-style-type: none;
    height: 100%;
    display: flex;
    gap: 2rem;

    a {
        position: relative;
        height: 100%;
        font-size: 0.8rem;
        text-decoration: none;
        color: var(--clr-neutral-100);
        display: flex;
        align-items: center;
        transition: color 0.3s ease;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 0;
            height: 4px;
            display: var(--_display-none, block);
            background: linear-gradient(45deg, var(--clr-accent-2), var(--clr-accent-1));
            transform: translateX(-50%);
            transition: width 0.3s ease;
        }

        &:hover {
            color: var(--clr-main);
        }
    }

    li:hover a::after {
        width: 100%;
    }
}

@keyframes stickyNav {
    0%, 100% {
        --_display-none: none;
        padding: 0rem 2rem;
        width: fit-content;
        gap: 2rem;
        border-radius: 0.5rem;
        border: 1px solid hsl(0 0% 0% / 0.3);
        box-shadow: 0 7px 7px hsl(0 0% 0% / 0.2);
        background-color: hsl(55 10% 95% / 0.8);
        backdrop-filter: blur(10px);
    }
    100% {
        top: 1rem;
    }
}

.hamburger-btn {
    width: 30px;
    aspect-ratio: 1.5/1;
    cursor: pointer;
    display: none;
    background: url(images/icon-hamburger.svg);
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
}

/* HERO SECTION */

.hero {
    padding-left: 1.5rem;
    margin-left: max(0px, (100% - 1300px)/2);
    height: 75vh;
    display: flex;
    align-items: center;
    background-image: url(images/image-mockups.png), url(images/bg-intro-desktop.svg);
    background-position: calc(300px + 70%) 90%, calc(500px + 30%) 70%;
    background-size: auto, auto 150%;
    background-repeat: no-repeat;

    .hero-content {
        max-width: 41ch;
    }
}

/* MARKETING SECTION */

.marketing {
    padding-inline: 1.5rem;
    margin-inline: auto;
    max-width: 81.25rem;
    --flow-space: 1.5rem;

    > p {
        max-width: 60ch;
    }

    .card-layout {
        margin-top: 2.5rem;
        grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    }
}

.marketing-card {
    --flow-space: 1rem;

    h3 {
        margin-top: 1rem;
    }

    p {
        font-size: 1rem;
    }
}

/* ARTICLES SECTION */

.articles {
    padding-inline: 1.5rem;
    margin-top: 10rem;
    margin-inline: auto;
    max-width: 81.25rem;
    --flow-space: 3rem;

    .card-layout {
        grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));
    }
}
        
.articles-card {

    img {
        aspect-ratio: 1.3/1;
        border-radius: 0.3rem 0.3rem 0 0;
    }

    .articles-card-content {
        padding: 1.5rem;
        --flow-space: 0.5rem;

        .author {
            font-size: 0.6rem;
        }

        a {
            margin-top: 0.4rem;
            font-size: 1rem;
            line-height: 1.1;
            text-decoration: none;
            color: var(--clr-main);
            transition: color 0.3s ease;

            &:hover {
                color: var(--clr-accent-1);
            }
        }

        p {
            font-size: 0.8rem;
            line-height: 1.1;
        }
    }
}

/* FOOTER */

.footer {
    background-color: var(--clr-main);

    .footer-wrapper {
        padding: 2.5rem 1.5rem;
        margin-inline: auto;
        max-width: 81.25rem;
        display: flex;
        justify-content: space-between;
        gap: 2rem;
    }

    .logo-social {
        display: grid;
        align-content: space-between;

        .socials {
            display: flex;
            justify-content: space-between;
        }
    }

    .nav-list {
        list-style-type: none;
        height: 100%;
        columns: 2;
        column-gap: clamp(1rem, 30vw, 5rem);

        a {
            font-size: 0.8rem;
            text-decoration: none;
            color: var(--clr-neutral-800);
            transition: color 0.3s ease;

            &:hover {
                color: var(--clr-accent-1);
            }
        }
    }

    .btn-copyright {
        display: grid;
        justify-items: end;
        align-content: space-between;
        gap: 1.5rem;

        p {
            font-size: 0.8rem;
        }
    }
}

/* MEDIA QUERIES */

@media (width <= 800px) {

    /* Header queries */

    .header {
        top: 0;
        animation: none;
        background-color: var(--clr-neutral-900);
        
        .btn {
            display: none;
        }

        .header-nav {
            display: none;
            position: fixed;
            inset: 4.5rem 0 0 0;
            background: linear-gradient(hsl(from var(--clr-main) h s l / 0.8), hsl(from var(--clr-main) h s l / 0));

            .nav-list {
                margin-top: 1rem;
                margin-inline: auto;
                padding: 1rem;
                max-width: 18rem;
                height: fit-content;
                align-items: center;
                flex-direction: column;
                gap: 1rem;
                border-radius: 0.3rem;
                background-color: var(--clr-neutral-900);

                a {
                    height: fit-content;
                    color: var(--clr-main);

                    &::after {
                        display: none;
                    }

                    &:hover {
                        color: var(--clr-accent-1);
                    }
                }
            }
        }

        .header-nav[data-visible] {
            display: block;
        }
    }

    /* hamburger button queries */
    .hamburger-btn {
        display: block;
    }

    .header-nav[data-visible] ~ .hamburger-btn {
        background: url(images/icon-close.svg);
        background-size: 100% auto;
        background-position: center;
        background-repeat: no-repeat;
    }

    /* Class to disable scrolling while mobile nav is open */

    body.no-scroll {
        overflow: hidden;
        /* height: 100dvh; */
    }

    /* Footer queries */

    .footer-wrapper {
        flex-direction: column;
        width: max-content;
        
        .nav-list {
            columns: unset;
            text-align: center;
        }

        .btn-copyright {
            justify-items: center;
        }
        
        .logo-social {
            display: grid;
            justify-content: center;
            gap: 2rem;

            .socials {
                display: flex;
                justify-content: space-between;
            }
        }
    }
}

@media (width <= 960px) {

    /* Hero queries */

    .hero {
        padding-inline: 1.5rem;
        padding-top: 300px;
        margin-bottom: 10rem;
        height: unset;
        justify-content: center;
        background-image: url(images/image-mockups.png), url(images/bg-intro-mobile.svg);
        background-position: 50% -150px, 50% -150px;
        background-size: 360px 420px, 100% 500px;
    }

    /* Component queries */

    .flow {
        justify-items: center;
        text-align: center;
    }

    .flow:where(.articles-card-content){
        justify-items: start;
        text-align: start;
    }
}